.section {
	.container {
		padding: 20px 10px;
	}
}

.section-nav {
	background-color: $primary-color;
	.container {
		display: table;
		padding: 20px 0px;
		.main-nav {
			float: right;
			a {
				font-size: 0.8em;
				color: white;
				text-decoration: none;
				display: inline-block;
				margin: 0px 10px;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.section-jumbotron {
	display: table;
	width: 100%;
	.row {
		margin-top: 100px;
		.left {

		}
		.right {
			.main-logo {
				display: table;
				margin: 0px 0px 0px auto;
				margin-top: -100px;
				width: 400px;
				img {
					width: 100%;
				}
			}
		}
	}
}


@media (#{$bp-larger-than-mobile}) {}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}
